* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #0767c0;
  background-image: linear-gradient(to bottom, #0767c0, #0083d3, #009edf, #00b8e7, #12d1eb);
  border: 1px solid #000;
  padding: 20px;
  position: sticky;
  top: 0px; }
  header .logo {
    width: 50%; }
  header .listaNav {
    display: flex; }
  header .listaNav li {
    list-style: none; }
  header .listaNav li a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-family: arial;
    font-size: 25px;
    text-shadow: 1px 1px 5px #333; }
    header .listaNav li a:hover {
      color: #333; }

.main {
  grid-area: main;
  height: auto;
  width: 100%;
  background-color: #a6aabd;
  overflow: hidden; }

.imagenInicio {
  width: 100%;
  height: auto;
  border-radius: 5%; }

.main h2 {
  text-align: center;
  text-decoration: underline;
  font-family: oswald;
  font-size: 35px;
  padding: 10px;
  color: #fff;
  text-shadow: 1px 1px 5px #000; }

.main p {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px; }

.main form {
  padding: 10px;
  font-size: 20px; }

.myaccordion {
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none; }

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent; }

.myaccordion .fa-stack {
  font-size: 18px; }

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0; }

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none; }

.myaccordion li + li {
  margin-top: 10px; }

.carousel {
  position: relative; }

.d-block {
  width: 50%;
  margin-bottom: 40px;
  margin-left: 25%; }

.mapa {
  width: 600px;
  height: 450px;
  border-radius: 10%; }

.button {
  color: whitesmoke;
  background-color: #0767c0;
  border-radius: 5px; }
  .button:hover {
    color: #333; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #0767c0;
  background-image: linear-gradient(to bottom, #0767c0, #0083d3, #009edf, #00b8e7, #12d1eb);
  border: 1px solid #000;
  padding: 20px;
  font-size: 20px;
  font-family: oswald; }

.listaFooter {
  display: flex; }

.listaFooter li {
  list-style: none;
  padding: 0 20px; }

.listaFooter li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px; }

.listaFooter li a:hover {
  color: #333; }

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0767c0;
    border: 1px solid #000;
    padding: 20px;
    position: sticky;
    top: 0px; }
  .logo {
    width: 80%; }
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0767c0;
    border: 1px solid #000;
    padding: 20px;
    font-size: 20px;
    font-family: oswald; } }
