*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #0767c0;
    background-image: linear-gradient(to bottom, #0767c0, #0083d3, #009edf, #00b8e7, #12d1eb);
    border: 1px solid #000;
    padding: 20px;
    margin: 0;

}
.logo{
    width: 50%;
}

$texto: principal;


.listaNav li a:hover{
    color: #333;
}
.color2{
    background-color: #A6ABBD;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 5px #333;
}
.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #0767c0;
    background-image: linear-gradient(to bottom, #0767c0, #0083d3, #009edf, #00b8e7, #12d1eb);
    border: 1px solid #000;
    padding: 20px;
    font-size: 20px;
    font-family: oswald;
    color: #fff;
    text-shadow: 1px 1px 5px #333;
}

.listaFooter{
    display: 	flex;
}
.listaFooter li{
    list-style: none;
    padding: 0 20px;
}
.listaFooter li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.listaFooter li a:hover{
    color: #333;
}